---
import './../global.css';
import Navbar from './../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import Media from './../components/Media.astro'
import Button from './../components/Button.astro';
import Line from './../components/Line.astro';
import Link from './../components/Link.astro';
import { href } from './../state';
href.set(`${import.meta.env.BASE_URL}/`);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
		<title>Upv Komsai.Org</title>
	</head>
	<body>
		<Navbar/>
		<HeroSection bg={`${import.meta.env.BASE_URL}/assets/komsai-banner-2.jpg`}>
			<div slot="heading">
				<h2>Connect and Launch with </h2>
				<h1>Komsai.Org</h1>
			</div>			
			<p slot="text">
				The official organization of Computer Science students at the University of the Philippines Visayas.
			<div slot="call-to-action">
				<Button 
					href={`${import.meta.env.BASE_URL}/about`} 
					name='Learn More' 
					mode="dark"
				/>
				<Link 
					href={`${import.meta.env.BASE_URL}/about`} 
					name='Learn More' 
					mode="dark"

				/>
			</div>
		</HeroSection>
		<Media bg={`${import.meta.env.BASE_URL}/assets/hyacine.avif`}>
			<img src={`${import.meta.env.BASE_URL}/assets/hyacine.avif`} slot="image"/>
			<div slot="heading">
				<img src={`${import.meta.env.BASE_URL}/assets/logos/komsai-logo-black.png`} width="100" height="100"/>
				<h2 class="bold">About Us</h2>
				<Line width='2rem'/>
			</div>			
			<p slot="text">
				Komsai.Org is the organization for Computer Science students at the University of the Philippines Visayas. We foster a community of builders and problem-solvers through technology, innovation, and academic excellence.			</p>
			<div slot="call-to-action">
				<Button 
					href={`${import.meta.env.BASE_URL}/about`} 
					name='Learn More' 
				/>
				<Link 
					href={`${import.meta.env.BASE_URL}/about`} 
					name='Learn More' 
				/>
			</div>
		</Media>

	</body>
</html>
