---
/**
 * @component Button
 * @description The button component is a main/primary "call to action" UI component that allows for page redirection and such. It aims to grab the user's attention.
 * @prop {string} name - The label of the button. Required.
 * @prop {string} href - The link to redirect to. Required.
 * @prop {string} download - The default name of the file downloaded. Optional.
 * @prop {string} icon - The path/URL of an image media. Optional.
 * @prop {'normal' | 'reverse'} flow - The ordering of the "icon" and "name". By default, the flow is [name] [icon]. Optional.
 * @prop {string} target - The target attribute for the link. Optional.
 * @prop {'light' | 'dark'} mode - The mode of the button ("light" or "dark"). Does not change icon color. Optional.
 * 
 * @note As of now, relative paths must have "import.meta.env.BASE_URL" at the start of the path/URL.
 *        This is due to hosting sometimes being confused with URLs and paths. Refer to examples from 
 *        the pages files.
 */
interface Props {
    name: string;
    href: string;
    download?: string;
    icon?: string;
    flow?: "normal" | "reverse"
    target?: string;
    mode?: "light" | "dark";
}
const { 
    name, 
    href, 
    download, 
    icon, 
    flow = "", 
    target = "_self", 
    mode = ""
} = Astro.props;
---
<a class="button-container" href={href} download={download} target={target}>
    <button class={`button ${mode} ${flow}`}>
        {icon && <img src={icon}/>}
        {name}
    </button>
</a>

<style>
    .button-container {
        display: flex;
        width: fit-content;
   
         /* -- BUTTON 
            .reverse and .dark style are values from the flow and
            mode props, respectively.
        */ 
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            padding: 1.25em 3em;
            border: solid 3.5px var(--color-accent);
            background-color: transparent;
            color: var(--color-text);
            font-size: 1rem;
            font-family: 'Outfit', Arial, Helvetica, sans-serif;
            font-weight: bold;
            letter-spacing: 3%;
            cursor: pointer;
        }
        .button.reverse {
            flex-direction: row-reverse;
        }
        .button.dark {
            color: white;
        }

        /* -- BUTTON ICON */
        .button img {
            width: 1.25rem;
            aspect-ratio: 1/1;    
        }
    }
    
</style>