---
/**
 * @component Card
 * @descriprion The card component is a UI component that groups content of many types into one.
 * @prop {string} img - The image of the component. This is a path or a URL. Required.
 * @prop {string} title - The heading of the component. Required.   
 * @prop {string} text - The body of the component. Required.
 * @prop {string} date - The date of the component. Optional.
 * @prop {string} href - The link of the component. Optional.
 *  
 * @note As of now, relative paths must have "import.meta.env.BASE_URL" at the start of the path/URL.
 *        This is due to hosting sometimes being confused with URLs and paths. Refer to examples from 
 *        the pages files.
 *  
 * @note Elements containing values from @optional may not be displayed when it is not defined.    
 */
import Link from "./Link.astro"

interface Props {
    img: string;
    title: string;
    date?: string;
    text: string;
    href?: string;
}
const { 
    img, 
    title, 
    date, 
    text, 
    href 
} = Astro.props;
---
<div class="card-container">
    <figure><img src={img}></figure>
    <div class="body">
        <h3>{title}</h3>
        {date && <p>{date}</p> }
        <p>{text}</p>
        {href && 
            <div class="call-to-action bold">
                <Link 
                    href={href} 
                    name="See More" 
                    mode="accent"
                    icon={`${import.meta.env.BASE_URL}/assets/icons/right-chevron-accent.png`}
                    flow="reverse"
                />
            </div>
        }
    </div>
</div>

<style>
    .card-container {
        /* -- CARD */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
    
        /* -- CARD IMAGE */
        figure {
            width: 100%;
        }
        figure img {
            width: inherit;
            height: 200px;
            object-fit: cover;
        }

        /* -- CARD BODY */
        .body {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .call-to-action {
            display: flex;
            justify-content: flex-end;
            margin-block: 1.5rem;
        }
    }


    
</style>