---
/**
 * @component Footer
 * @last_updated July 29, 2026
 * @desc
 *      The Footer is the UI component found at the bottom of the page. It includes the logo, quick links, and 
 *      other important informations (contacts and such).
 *
 * @notes
 *      [1] The global state/context "href" signifies the current route/link that the user is in.
 *
 *      [2] The "Route" type/interface contains link (for anchor hrefs) and name (for anchor body). 
 *
 *      [3] "routes" contains the navigation links to be displayed. Ensure that the link
 *          field has ${import.meta.env.BASE_URL}/ for including the base/root directory 
 *          (It is crucial for hosting purposes like hosting in Github Pages.).   
 *
 */
---
<footer class="footer">
    <div class="logo">
        <img src={`${import.meta.env.BASE_URL}/assets/logos/komsai-dark-mode.png`}/>
        <h4 class="bold">UPV KOMSAI.ORG</h4>
    </div>    
    <nav>
        <a href={`${import.meta.env.BASE_URL}/`}>Home</a>
        <a href={`${import.meta.env.BASE_URL}/events`}>News</a>
        <a href={`${import.meta.env.BASE_URL}/news`}>Events</a>
        <a href={`${import.meta.env.BASE_URL}/about`}>About Us</a>
    </nav>
    <div class="info-section">
        <p>All Rights Reserved @ 2026</p>
        <p>College of Arts and Sciences | University of the Philippines Visayas</p>
        <p>Miagao, 5023</p>
        <div class="socials">
            <a href="https://www.facebook.com/UPVKomsai.Org/"><img src={`${import.meta.env.BASE_URL}/assets/icons/facebook.png`}/></a>
            <a href="https://www.youtube.com/@upvkomsaiorg3517"><img src={`${import.meta.env.BASE_URL}/assets/icons/youtube.png`}/></a>
        </div>
    </div>
</footer>
<style>
    .footer {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding-block: 3rem;
        padding-inline: 15vw;
        background-color: var(--color-bg-primary);
        color: white;

        /* -- FOOTER LOGO */
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
        .logo img {
            width: 6rem;
        }
        
        /* -- FOOTER NAVIGATION */
        nav {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        nav a {
            color: white;
        }

        /* -- FOOTER INFO SECTIOn */
        .info-section {
            display: flex;				
            flex-direction: column;
            gap: 0.5rem;
        }
        .socials {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-block: 0.5rem;
        }
        .socials img {
            width: 1.5rem;
        }
    }
</style>