---
/**
 * @component Link
 * @description The link is either a container for the anchor tab in component form or a secondary "call to action" UI component.
 *              Link is similar to the Button component. 
 * @prop {string} name - The name of the Link. It is the text that will be displayed in the link. Required.
 * @prop {string} href - The same as the anchor "href", it redirects to a new link. Required.
 * @prop {string} download - The same as the anchor "download", it downloads a file from the link. Optional.
 * @prop {string} icon - The path/URL of an image media. Optional.
 * @prop {'normal' | 'reverse'} flow - The ordering of the "icon" and "name". By default, the flow is "name" "icon". Optional.
 * @prop {string} target - The same as the anchor tag's "target" attribute. It determines where in the browser it will redirect. Optional.
 * @prop {'light' | 'dark' | 'accent'} mode - The mode of the link. It can be "light", "dark", or "accent". Optional.
 * 
 * @note As of now, relative paths must have "import.meta.env.BASE_URL" at the start of the path/URL.
 *       This is due to hosting sometimes being confused with URLs and paths. Refer to examples from 
 *       the pages files. 
 * @note Unlike Button, the "mode" prop takes in an 'accent' value. The accent color is the same as the CSS variable 
 *       "--color-accent" in global.css.
 * 
 */

interface Props {
    name: string;
    href: string;
    download?: string;
    icon?: string;
    flow?: "normal" | "reverse"
    target?: string;
    mode?: "light" | "dark" | "accent";
}
const { 
    name, 
    href, 
    download,
    icon, 
    flow, 
    target, 
    mode
} = Astro.props;
---

<a href={href} target={target} download={download} class={`link ${mode} ${flow}`}>
    {icon && <img src={icon}/>}
    {name}
</a>

<style> 
    /* -- LINK 
        .reverse and .dark style are values from the flow and
        mode props, respectively.
    */
    .link {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
        background-color: transparent;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'Outfit', Arial, Helvetica, sans-serif;
        cursor: pointer;

        &.reverse {
            flex-direction: row-reverse;
        }
        &.dark {
            color: white;
        }
        &.accent {
            color: var(--color-accent);
        }
    
        /* -- LINK ICON */
        img {
            width: 0.875rem;
            aspect-ratio: 1/1;    
        }
    }
</style>