---
/**
 * @component ListObject
 * @description The ListObject is a UI component similar to the Card component. If Card flows in column, ListObject flows in row.
 * 
 * @prop {string} img - The image of the component. This is a path or a URL. Required.
 * @prop {string} title - The heading of the component. Required.
 * @prop {string} text - The body of the component. Required.
 * @prop {string} date - The date of the component. Optional.
 * @prop {string} href - The link of the component. Optional.
 * 
 * @note As of now, relative paths must have "import.meta.env.BASE_URL" at the start of the path/URL.
 *       This is due to hosting sometimes being confused with URLs and paths. Refer to examples from 
 *       the pages files.
 *   
 */
import Link from "./Link.astro"

interface Props {
    img: string;
    title: string;
    date?: string;
    text: string;
    href?: string;
}
const { 
    img, 
    title, 
    date, 
    text, 
    href 
} = Astro.props;
---
<div class="list-object-container">
    <figure><img src={img}></figure>
    <div class="list-body">
        <div class="list-main-info"> 
            <h3>{title}</h3>
            {date && <p>{date}</p> }
            <p>{text}</p>
        </div>
        <div class="list-extra-info">
            {href && 
                <div class="list-call-to-action bold">
                    <Link 
                        href={href} 
                        name="See More" 
                        mode="accent"
                        icon={`${import.meta.env.BASE_URL}/assets/icons/right-chevron-accent.png`}
                        flow="reverse"
                    />
                </div>
            }
        </div>
    </div>
</div>

<style>
    .list-object-container {
        /* -- LIST OBJECT */
        width: 100%;
        display: grid;
        grid-template-columns: 15rem 1fr;
        gap: 2rem;
    
        /* -- LIST OBJECT IMAGE */
        figure {
            width: 100%;
        }
        figure img {
            width: inherit;
            aspect-ratio: 4/3;
            object-fit: cover;
        }

        /* -- LIST OBJECT BODY */
        .list-body {
            flex-direction: column;
            gap: 1rem;
            padding-block: 1rem;
        }
        .list-main-info {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        /* -- ADDITIONAL LIST OBJECT INFORMATION */
        .list-extra-info {
            display: flex;
            flex-direction: column;
        }
        
        .list-call-to-action {
            margin-block: 1.5rem;
        }

    }
</style>