---
/**
 * @component Navbar
 * @description The Navbar, or navigation bar, is the main way for users to navigate the site. 
 *              It contains the Komsai Logo and the navigation links. This is a global component that is used in all pages of the site.
 *
 * @note the global state/context "href" signifies the current route/link that the user is in.
 * @note "Route" type/interface contains link (for anchor hrefs) and name (for anchor body). 
 * @note "routes" contains the navigation links to be displayed. Ensure that the link
 *          field has ${import.meta.env.BASE_URL}/ for including the base/root directory 
 *          (It is crucial for hosting purposes like hosting in Github Pages.).   
 *
 */
import { href } from "./../state";
interface Route {
    link: string;
    name: string;
}
const routes: Route[] = [
    {
        "link": `${import.meta.env.BASE_URL}/`,
        "name": "Home"
    },
    {
        "link": `${import.meta.env.BASE_URL}/about`,
        "name": "About Us"
    }, 
    {
        "link": `${import.meta.env.BASE_URL}/news`,
        "name": "News"
    }, 
    {
        "link": `${import.meta.env.BASE_URL}/events`,
        "name": "Events"
    }
];
---

<div class="navbar-container">
    <div class="navbar">
        <a href={`${import.meta.env.BASE_URL}/`} class="navbar-logo">
            <img src={`${import.meta.env.BASE_URL}/assets/logos/komsai-dark-mode.png`}/>
            <div class="name">
                <div class="subheading">UPV</div>
                <div class="subheading bold">KOMSAI.ORG</div>
            </div>
        </a>
        <figure class="hamburger"><img src={`${import.meta.env.BASE_URL}/assets/icons/hamburger.png`}/></figure>
        <nav>
            <figure class="close-button hidden"><img src={`${import.meta.env.BASE_URL}/assets/icons/close.png`}/></figure>
            {routes.map(route => (
                    <a href={route.link} class={`navlink ${ (href.get() === route.link) && 'current-route'} `}> {route.name} </a>
                ))
            }
        </nav>
    </div>
    <script>
        const logo = document.querySelector(".navbar-container .navbar-logo")!;
        const navbar = document.querySelector(".navbar-container nav")!;
        const hamburgerButton = document.querySelector(".navbar-container .hamburger")!;
        const closeButton = document.querySelector(".navbar-container .close-button")!;

        function toggleMenu(isOpen: boolean) {
            if (isOpen) {
                navbar.classList.add("is-open");
                hamburgerButton.classList.add("hidden");
                closeButton.classList.remove("hidden");
                logo.classList.add("hidden");
            } else {
                navbar.classList.remove("is-open");
                hamburgerButton.classList.remove("hidden");
                closeButton.classList.add("hidden");
                logo.classList.remove("hidden");

            }
        }
        hamburgerButton.addEventListener("click", () => toggleMenu(true));
        closeButton.addEventListener("click", () => toggleMenu(false));
        window.matchMedia('(min-width : 786px)').addEventListener("change", () => toggleMenu(false));

    </script>
</div>

<style>
    .navbar-container {
        position: fixed;
        top: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        background-color: var(--color-bg-primary);
        color: white;
    
        /* -- NAVBAR */
        .navbar {
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 1.25em;
            padding-inline: 10vw;     
        }

        /* -- NAVBAR LOGO */
        .navbar-logo {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: white !important;

            @media screen and (max-width: 768px) {
                &.hidden {
                    display: none;
                }
            }
        }
        .navbar-logo img {
            width: 3rem;
        }

        /* -- NAVBAR NAVIGATION */
        nav {
            display: flex;
            gap: 4rem;
            align-items: center;
            
            @media screen and (max-width: 768px) {
                display: none;
                width: 100%;
                &.is-open {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding-block: 1rem;
                }
            }
        }
        .navbar figure img {
            width: 16px;
            aspect-ratio: 1/1;
            cursor: pointer;
        }

        .hamburger {
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
                &.hidden {
                    display: none;                    
                }
            }
        }

        .close-button {
            display: none;
            @media screen and (max-width: 768px) {
                display: flex;
                align-self: flex-end;
                &.hidden {
                    display: none;                    
                }
            }
        }

        .navlink {
            padding-block: 0.5em;
            color: white;
        }
        .navlink.current-route {
            border-bottom: solid 3.5px var(--color-accent); 
        }        
    }    
</style>